<footer class="footer-section">
    <div class="icon-wrapp">
        <h2>Соціальні мережі:</h2>
        <a href="">
            <svg class="icon">
                <use xlink:href="#insta"></use>
            </svg>
        </a>
        <a href="">
            <svg class="icon">
                <use xlink:href="#fb"></use>
            </svg>
        </a>
    </div>
    <h4 class="footer-text">
        <a href="index.html">
            StarWars Expo 
            <span><script>new Date().getFullYear()>2010&&document.write(+new Date().getFullYear());</script></span>
        </a>
    </h4>
</footer>