<div class="header_nav">
    <div class="logo_wrapp">
        <a href="index.html">
            <img src="img/sw_page/logo.svg" alt="">
        </a>
    </div>
    <div class="navbar_wrapp">
        <div class="contact-wrapp">
            <span class="contact-title">Знайти нас</span>
            <a href=""><svg class="icon dp" id="btn-down">
                <use xlink:href="#phone"></use>
            </svg></a>
            <ul class="dropmenu" id="phone-bar">
                <li><a href="tel:+380993432657" class="ph_number">099 343 26 57</a></li>
                <li><a href="tel:+380634221427" class="ph_number">063 422 14 27</a></li>
            </ul>
            <a href=""><svg class="icon">
                <use xlink:href="#insta"></use>
            </svg></a>
            <a href=""><svg class="icon">
                <use xlink:href="#fb"></use>
            </svg></a>
            
        </div>
        <div class="dropdown-wrap">
            <div class="btn-wrapp">
                <svg class="btn close" id="btn-op">
                    <use xlink:href="#btn-close"></use>
                </svg>
                <svg class="btn open" id="btn-cl">
                    <use xlink:href="#btn-open"></use>
                </svg>
            </div>
            <div class="dropdown-menu">
                <ul id="menu">
                    <li><a href="index.html">На головну</a></li>
                    <li><a href="aboutUs.html">Про нас</a></li>
                    <li><a href="starwars-expo.html#section2">Про виставку</a></li>
                    <li><a href="starwars-expo.html#section3">Вiдео виставки</a></li>
                    <li><a href="starwars-expo.html#section3">Фото виставки</a></li>
                    <li><a href="starwars-expo.html#section4">Цiни</a></li>
                    <li><a href="starwars-expo.html#section5">Де знайти</a></li>
                    <li><a href="" class="null">123</a></li>
                    <li><a href="poster-sw.html">Афiша виставка</a></li>
                    <li><a href="hero-sw.html">Героi галактики</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>