@import "mixins.scss";
.header_nav{
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;

    max-width: 1360px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    .logo_wrapp{
       width: 350px;
       a{
          img{
             width: 100%;
          }
       }
    }
    .navbar_wrapp{
       display: flex;
       justify-content: space-around;
       align-items: center;
       .contact-wrapp{
          display: flex;
          align-items: center;

          position: relative;

          margin-right: 110px;
          .contact-title{
             @include font-sw;
             font-size: 24px;
             font-weight: normal;
             letter-spacing: 2px;
             color: #797979;

             margin-right: 50px;
          }
          .dropmenu{
             display: none;
             position: absolute;
             top: 55px;
             left: 115px;
             @include dropdwn-bg;
             li{
                .ph_number{
                   color: #fff;
                   @include font-date;

                   margin-bottom: 15px;
                }
                .ph_number:last-child{
                   margin-bottom: 0;
                }
             }
          }
          /* .dp:hover + .dropmenu{
             display: block;
          } */
          .icon{
             @include icon-style;

             @include anim-set;
          }
          .icon:hover{
             @include icon-style-hover;
          }
       }
       .dropdown-wrap{
          position: relative;
          .btn-wrapp{
             width: 70px;
             height: 70px;
             background: #e8e8e8;

             position: relative;

             @include anim-set;
             .btn{
                fill: #5b5b5b;
                width: 58px;

                position: absolute;

                top: -40px;
                left: 10px;

                @include anim-set;
             }
             .open{
                width: 60px;
                width: 50px;

                display: none;
             }
             .close{
                width: 80px;
                width: 50px;

                
             }
          }
          .btn-wrapp:hover{
             background: #d5d5d5;
          }
          /* .btn-wrapp:hover .btn{
             fill: #ff0000;
          } */
          .dropdown-menu{
             @include dropdwn-bg;
             border-radius: 25px 0 0 25px;
             width: 150px;
             left: -120px;
             position: absolute;

             display: none;

             z-index: 25;

             @include anim-set;
             ul{
                list-style: none;
                text-align: right;
                li{
                   
                   a{
                      text-decoration: none;
                      color: #fff;
                      @include font-date;

                      margin-bottom: 15px;

                      @include anim-set;
                   }
                   a:hover{
                      color: #ffec20;
                   }
                   .null{
                      opacity: 0;
                   }
                }
             }
          }
       }
    }
 }