@import "mixins.scss";

@media only screen and (max-width: 900px){
    body{
        background-image: url(../img/bg/mp_bg-mobile.png);
        background-position: top;
        .body-wrap{
            header{
                margin-bottom: 75px;
                .link-info-wrap{
                    width: 100%;
                    a{
                        .link-text{
                            font-size: 60px;
                            margin: 0 auto;
                        }
                        .link-text:hover{
                            letter-spacing: 5;
                         }
                    } 
                }
            }
            .content-wrap{
                .exh-var-wrap{
                    flex-direction: column;
                    align-items: center;
                    .plate-exh{
                        margin-bottom: 125px;
                        .exh-poster-wrap{
                            .poster-container{
                                .poster{
                                    max-width: 600px;
                                    /* width: 400px; */
                                    .noActive{
                                        opacity: 1;
                                    }
                                    .active{
                                        opacity: 0;
                                    }
                                }
                            }
                        }
                        .exh-info-wrap{
                            .info-wrap{
                                filter: blur(0);
                                opacity: 1;
                            }
                        }
                        .btn-wrap{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}