@import "variables.scss";
@import "mixins.scss";
@import "fonts.scss";

/* base style */
*, html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, h3, span {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   text-decoration: none;
   user-select: none;
}

audio,
canvas,
video {
   display: inline-block;
}

a{
   cursor: pointer;
}
///////////////////////////////////
//scroll style
::-webkit-scrollbar-button {
   background-image:url('');
   background-repeat:no-repeat;
   width:5px;
   height:0px
}
::-webkit-scrollbar-track {
   background-color:#ecedee;
}
::-webkit-scrollbar-thumb {
   -webkit-border-radius: 1px;
   border-radius: 1px;
   background-color:#d7190f;
   -moz-border-radius: 1px;
   -ms-border-radius: 1px;
   -o-border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover{
   background-color:#d7190f;
}
::-webkit-resizer{
   background-image:url('');
   background-repeat:no-repeat;
   width:4px;
   height:0px
}
::-webkit-scrollbar{
   width: 10px;
}

.workspace-width{
margin: 0 auto;
max-width: 1500px;
}
/* /base style */
//
///////////////////////////////////
body{
   @import "btn-back.scss";
   background-color: #e7e6ed;
   .header_wrapp{
      width: 100%;
      height: 100vh;
      background-image: url('../img/sw_page/header_bg.png');
      background-size: cover;
      background-position: center;
      @import "header_nav.scss";

      position: relative;
      .info_date_wrapp{
         width: 100%;
         position: relative;

         margin-top: 70px;
         .date_wrapp{
            position: absolute;
            padding: 10px 75px 10px 360px;
            background: rgb(233,17,5);
            background: 
            linear-gradient(274deg, rgba(233,17,5,1) 0%, 
                                    rgba(233,17,5,1) 63%, 
                                    rgba(233,17,5,0) 100%,
                                    rgba(233,17,5,1) 100%);
            border-radius: 0 150px 150px 0;
            .date_text{
               font-size: 50px;
               @include font-akzi;

               color: #fff;
            }
            span{
               font-size: 90px;
               @include font-akzi;

               color: #fff;
            }
         }
      }
      .header_content_wrapp{
         position: relative;

         margin-top: 250px;
         margin-left: 360px;
         z-index: 10;
         .header_info_wrapp{
            .location-wrapp{
               h2{
                  @include font-akzi;
                  font-size: 75px;
                  /* text-align: right; */
                  color: #5b5b5b;
               }
            }
            .street-wrapp{
               margin-left: 225px;
               h3{
                  @include font-akzi;
                  font-size: 35px;
                  color: #e91105;
               }
            }
            .time-wrapp{
               margin-top: 25px;
               h4{
                  @include font-date;
                  font-size: 33px;
                  color: #e91105;
               }
            }
            .button-wrapp{
               margin-top: 50px;
               button{
                  a{
                     @include font-exo;
                     font-size: 25px;
                     font-weight: 800;
                     font-style: italic;
                     letter-spacing: 1.21px;
                     color: #ffffff;
                     text-transform: uppercase;

                     background-color: #e91105;
                     padding: 10px 40px 13px 40px;
                     border-radius: 150px;

                     @include anim-set;
                  }
               }
               button:hover a{
                  background-color: #3d5ed9;
               }
            }
         }

      }
      .header_img_wrapp{
         overflow: hidden;

         position: absolute;

         bottom: -5px;
         right: 255px;
         z-index: 1;
         img{
            width: 900px;
            margin-top: 15px;
         }
      }
   }
}

@import "media-sw.scss";