@import "variables.scss";
@import "mixins.scss";
@import "fonts.scss";
@import "btn-back.scss";

/* base style */
*, html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, h3, span {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   text-decoration: none;
   user-select: none;
   scroll-behavior: smooth;
}

audio,
canvas,
video {
   display: inline-block;
}

a{
   cursor: pointer;
}
///////////////////////////////////
//scroll style
::-webkit-scrollbar-button {
   background-image:url('');
   background-repeat:no-repeat;
   width:4px;
   height:0px
}
::-webkit-scrollbar-track {
   background-color:#ecedee;
}
::-webkit-scrollbar-thumb {
   -webkit-border-radius: 1px;
   border-radius: 1px;
   background-color:#d7190f;
   -moz-border-radius: 1px;
   -ms-border-radius: 1px;
   -o-border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover{
   background-color:#d7190f;
}
::-webkit-resizer{
   background-image:url('');
   background-repeat:no-repeat;
   width:4px;
   height:0px
}
::-webkit-scrollbar{
   width: 4px;
}

.workspace-width{
margin: 0 auto;
max-width: 1500px;
}
/* /base style */
//
///////////////////////////////////
body{
   
   background-color: #e7e6ed;
   .poster-wrapp{
      width: 100%;
      height: auto;
      background-image: url('../img/sw_page/poster_bg.png');
      background-size: cover;
      background-position: center;
      @import "header_nav.scss";
      .poster-container{
         width: 100%;
         max-width: 1100px;
         margin: 20px auto 0 auto;
         .poster-block{
            width: 70%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .img-border{
               width: 100%;
            }
            .img-poster{
               width: 97%;
               margin: 0 auto;
            }
         }
      }
   }
   .header_wrapp{
      width: 100%;
      height: 100vh;
      background-image: url('../img/sw_page/header_bg.png');
      background-size: cover;
      background-position: center;
      @import "header_nav.scss";

      position: relative;
      .info_date_wrapp{
         width: 100%;
         position: relative;

         margin-top: 70px;
         .date_wrapp{
            position: absolute;
            padding: 10px 75px 10px 360px;
            background: rgb(233,17,5);
            background: 
            linear-gradient(274deg, rgba(233,17,5,1) 0%, 
                                    rgba(233,17,5,1) 63%, 
                                    rgba(233,17,5,0) 100%,
                                    rgba(233,17,5,1) 100%);
            border-radius: 0 150px 150px 0;
            .date_text{
               font-size: 50px;
               @include font-akzi;
               font-style: italic;

               color: #fff;
            }
            span{
               font-size: 90px;
               @include font-akzi;
               font-style: italic;

               color: #fff;
            }
         }
      }
      .header_content_wrapp{
         position: relative;

         margin-top: 250px;
         margin-left: 360px;
         z-index: 10;
         .header_info_wrapp{
            .location-wrapp{
               h2{
                  @include font-akzi;
                  font-size: 75px;
                  font-style: italic;
                  /* text-align: right; */
                  color: #5b5b5b;
               }
            }
            .street-wrapp{
               margin-left: 225px;
               h3{
                  @include font-akzi;
                  font-style: italic;
                  font-size: 35px;
                  color: #e91105;
               }
            }
            .time-wrapp{
               margin-top: 25px;
               h4{
                  @include font-date;
                  font-style: italic;
                  font-size: 33px;
                  color: #e91105;
               }
            }
            .button-wrapp{
               margin-top: 50px;
               button{
                  a{
                     @include font-exo;
                     font-size: 25px;
                     font-weight: 800;
                     font-style: italic;
                     letter-spacing: 1.21px;
                     color: #ffffff;
                     text-transform: uppercase;

                     background-color: #e91105;
                     padding: 10px 40px 13px 40px;
                     border-radius: 150px;

                     @include anim-set;
                  }
               }
               button:hover a{
                  background-color: #3d5ed9;
               }
            }
         }

      }
      .header_img_wrapp{
         overflow: hidden;

         position: absolute;

         bottom: -4px;
         right: 240px;
         z-index: 1;
         img{
            width: 900px;
            margin-top: 15px;
         }
      }
   }
   
   .about-exh{
      width: 100%;
      height: 100vh;
      background-image: url('../img/sw_page/about-axh_bg.png');
      background-size: cover;
      background-position: bottom right;

      position: relative;
      .shadow-block{
         position: absolute;
         top: 0;
         opacity: .3;
         img{
            width: 100%
         }
      }
      .text-wrapp{
         padding-top: 100px;
         padding-right: 15px;
         max-width: 1400px;
         margin: 0 auto;
         display: flex;
         flex-direction: column;
         align-items: flex-end;
         .title{
            text-align: right;
            h2{
               text-shadow: 3.9px 4.6px 0 rgba(28, 2, 2, 0.9);
               @include font-sw;
               font-size: 85px;
               letter-spacing: 4.91px;
               color: #e90c00;
            }
            h3{
               text-shadow: 3.9px 4.6px 0 rgba(28, 2, 2, 0.9);
               @include font-sw;
               font-size: 65px;
               letter-spacing: 4.91px;
               color: #e90c00;
            }
         }
         .text{
            margin-top: 60px;
            p{
               width: 800px;
               @include font-sw;
               font-size: 21px;
               line-height: 1.67;
               letter-spacing: 1.58px;
               text-align: justify;
               color: #5b5b5b;
            }
         }
      }
      .more-btn-wrapp{
         max-width: 1400px;
         margin: 0 auto;
         margin-top: 130px;
         display: flex;
         flex-direction: column;
         align-items: flex-end;

         position: relative;
         .more{
            position: absolute;
            a{
               @include font-exo;
               font-size: 29.5px;
               font-weight: bold;
               font-stretch: normal;
               font-style: italic;
               letter-spacing: normal;
               color: #ffffff;
               padding: 15px 350px 20px 40px;

               background: rgb(233,17,5);
               background: 
               linear-gradient(90deg, rgba(233,17,5,1) 0%, 
                                       rgba(233,17,5,1) 20%, 
                                       rgba(233,17,5,0) 100%,
                                       rgba(233,17,5,1) 100%);
               border-radius: 150px 0 0 150px;

               @include anim-set;
            }
            a:hover{
               padding-right: 500px;
               background: 
               linear-gradient(90deg, rgba(233,17,5,1) 0%, 
                                       rgba(233,17,5,1) 20%, 
                                       rgba(233,17,5,0) 100%,
                                       rgba(233,17,5,1) 100%);
            }
         }
      }
   }
   .media_wrapp{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .media_container{
         max-width: 1200px;
         margin: 0 auto;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         margin-top: 25px;
         h2{
            text-shadow: 3px 3px 0 rgba(28, 2, 2, 0.9);
            @include font-sw;
            font-size: 25px;
            letter-spacing: 4.91px;
            color: #e90c00;
         }
         .video-wrapp{
            width: 900px;
            height: 400px;
            margin-bottom: 50px;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 65px;
            box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.22);
            .video_block{
               background-color: #d7190f;

               width: 100%;
               height: 100%;
               margin: 0 auto;
               position: relative;
               iframe{
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  top: 0;
               }
            }
         }
         .gallery-wrapp{
            width: 100%;
            .slider {
               position: relative;
               overflow: hidden;
               .slider__wrapper {
                  display: flex;
                  transition: transform 0.6s ease;
                  .slider__item {
                     flex: 0 0 50%;
                     max-width: 50%;
                     overflow: hidden;
                     div {
                        line-height: 250px;
                        font-size: 100px;
                        text-align: center;
                        height: 250px;
                        background: orange;
                        display: flex;
                        /* align-items: t; */

                        margin: 0 20px;
                        img{
                           width: 100%;
                           @include anim-set;
                        }
                      }
                      div:hover img{
                         transform: scale(1.1);
                      }
                   }
                }
             }
             .slider__control {
               position: absolute;
               top: 50%;
               display: flex;
               align-items: center;
               justify-content: center;
               width: 40px;
               height: 40px;
               color: #fff;
               text-align: center;
               opacity: 0.8;
               transform: translateY(-50%);
               background:#d7190f;
               border-radius: 50px;
             }
         
             .slider__control:hover,
             .slider__control:focus {
               color: #fff;
               text-decoration: none;
               outline: 0;
               opacity: .9;
             }
         
             .slider__control_left {
               left: 0;
             }
         
             .slider__control_right {
               right: 0;
             }
         
             .slider__control::before {
               content: '';
               display: inline-block;
               width: 20px;
               height: 20px;
               background: transparent no-repeat center center;
               background-size: 100% 100%;
             }
         
             .slider__control_left::before {
               background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'
                fill='%23fff' viewBox='0 0 8 
                8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
             }
         
             .slider__control_right::before {
               background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'
                fill='%23fff' viewBox='0 0 8 
                8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
             }
         
         }
      }
   }
   .price{
      width: 100%;
      height: 100vh;
      background-image: url('../img/sw_page/price_bg.png');
      background-size: cover;
      background-position: top center;
      .price-wrapp{
         width: 100%;
         max-width: 1400px;
         margin: 0 auto;
         .title-wrapp{
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 70px;
            h2{
               @include font-sw;
               /* text-shadow: 3.9px 4.6px 0 rgba(28, 2, 2, 0.9); */
               font-size: 70px;
               font-weight: normal;
               letter-spacing: 6px;
               color: #e90c00;
            }
            h3{
               @include font-sw;
               /* text-shadow: 3.9px 4.6px 0 rgba(28, 2, 2, 0.9); */
               font-size: 50px;
               font-weight: normal;
               letter-spacing: 6px;
               color: #e90c00;
            }
         }
         .price-content{
            margin: 0 auto;
            display: flex;
            align-items: center;
            .img-wrapp{
               width: 650px;
               /* position: relative; */
               img{
                  width: 100%;
                  /* position: absolute;
                  top: -350px; */
               }
            }
            .price-text-wrapp{
               .items-wrapp{
                  display: flex;
                  align-items: center;

                  margin-top: 100px;
                  .item{
                     margin: 0 50px;

                     @include font-btn-info;
                     display: flex;
                     flex-direction: column;

                     position: relative;
                     /* justify-content: flex-start; */
                     align-items: center;
                     .title-item{
                        font-size: 35px;
                        letter-spacing: normal;
                        color: #5b5b5b;
                     }
                     .price-item{
                        font-size: 250px;
                        color: #e90c00;
                        padding-bottom: 50px;
                        /* span{
                           font-size: 20px;
                        } */
                     }
                     .item-description{
                        font-size: 20px;
                        line-height: 3.96;
                        color: #5b5b5b;

                        top: 275px;
                        position: absolute;
                     }
                  }
               }
               .age-wrapp{
                  .age-description{
                     @include font-exo;
                     font-size: 25px;
                     font-weight: 800;
                     font-style: italic;
                     text-align: right;
                     color: #ffffff;

                     /* width: 960px; */
                     padding: 16px 30px;
                     background-color: #3d5ed9;
                     background: #3d5ed9;
                     background: 
                     linear-gradient(90deg, #3d5ed9 0%, 
                                             #3d5ed9 50%, 
                                             rgba(233,17,5,0) 100%,
                                             #3d5ed9 100%);

                     text-align: left;
                     border-radius: 180px 0 0 180px;

                     
                  }
               }
            }
         }
      }
   }
   .contact{
      width: 100%;
      height: 100vh;
      background-image: url('../img/sw_page/contact_bg.png');
      background-size: cover;
      background-position: top center;
      .contact-wrapp{
         width: 100%;
         max-width: 1400px;
         margin: 0 auto;
         padding-top: 70px;
         .title-wrapp{
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            h2{
               @include font-sw;
               /* text-shadow: 3.9px 4.6px 0 rgba(28, 2, 2, 0.9); */
               font-size: 70px;
               font-weight: normal;
               letter-spacing: 6px;
               color: #e90c00;
            }
            h3{
               @include font-sw;
               /* text-shadow: 3.9px 4.6px 0 rgba(28, 2, 2, 0.9); */
               font-size: 50px;
               font-weight: normal;
               letter-spacing: 6px;
               color: #e90c00;
            }
   
         }
         .item-wrapp{
            margin-top: 70px;
            margin-bottom: 70px;
            display: flex;
            justify-content: space-between;
            flex-wrap: no-wrap;
            .contact-item{
               width: 100%;
               iframe{
                  width: 100%;
                  height: 100%;

                  box-shadow: 0 0 50px rgb(191, 191, 191);
               }
               .street{
                  font-size: 43.5px;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: normal;
                  letter-spacing: normal;
                  color: #5b5b5b;
                  @include font-btn-info;
                
               }
               .location{
                  font-size: 63.5px;
                  font-weight: 900;
                  font-stretch: normal;
                  font-style: normal;
                  letter-spacing: 3.18px;
                  color: #d30c14;
                  @include font-btn-info;

                  margin-top: 25px;
               }
               .phone-text{
                  font-size: 43.5px;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: normal;
                  letter-spacing: normal;
                  color: #5b5b5b;
                  @include font-btn-info;
                  margin-top: 25px;
               }
               .phone-number{
                  list-style: none;
                  display: flex;
                  @include font-exo;
                  font-size: 28px;
                  font-weight: 800;
                  font-stretch: normal;
                  font-style: italic;
                  letter-spacing: normal;
                  margin-top: 15px;
                  li{
                     margin-right: 10px;
                  }
                  li:nth-child(1){
                     color: #2f2f2f;
                  }
                  li:nth-child(2){
                     color: #d30c14;
                  }
                  li:nth-child(3){
                     color: #2f2f2f;
                  }
               }
               a{
                  text-decoration: none;
                  @include font-exo;
                  font-size: 28px;
                  color: #d30c14;
                  font-weight: 900;
                  margin-top: 55px;
               }
            }
         }
         .footer-section{
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            .icon-wrapp{
               display: flex;
               justify-content: space-around;
               align-items: center;
               h2{
                  @include font-exo;
                  font-size: 48px;
                  font-weight: 900;
                  font-stretch: normal;
                  font-style: italic;
                  letter-spacing: 2.93px;
                  color: #5b5b5b;
               }
               .icon{
                  margin-top: 10px;
                  @include icon-style;
                  @include anim-set;
               }
               .icon:hover{
                  @include icon-style-hover;
               }
            }
            .footer-text{
               margin: 12% auto 0 auto;
               text-align: center;
               a{
                  text-decoration: none;
                  color: #5b5b5b;
                  font-size: 15px;
                  font-weight: 900;
                  text-transform: uppercase;
                  @include font-exo;
                  span{
                     color: #d30c14
                  }
               }
            }
         }
      }
   }
}

@import "media-sw.scss";