@font-face {
    font-family: 'icomoon';
    src:  url('/fonts/trsfr/icomoon.eot?a57rn4');
    src:  url('/fonts/trsfr/icomoon.eot?a57rn4#iefix') format('embedded-opentype'),
          url('/fonts/trsfr/icomoon.ttf?a57rn4') format('truetype'),
          url('/fonts/trsfr/icomoon.woff?a57rn4') format('woff'),
          url('/fonts/trsfr/icomoon.svg?a57rn4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'noto_sans';
    src: url('/fonts/trsfr/notosans-black-webfont.woff2') format('woff2'),
         url('/fonts/trsfr/notosans-black-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'noto_sans';
    src: url('/fonts/trsfr/notosans-blackitalic-webfont.woff2') format('woff2'),
         url('/fonts/trsfr/notosans-blackitalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'noto_sans';
    src: url('/fonts/trsfr/notosans-bold-webfont.woff2') format('woff2'),
         url('/fonts/trsfr/notosans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'noto_sans';
    src: url('/fonts/trsfr/notosans-bolditalic-webfont.woff2') format('woff2'),
         url('/fonts/trsfr/notosans-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'noto_sans';
    src: url('/fonts/trsfr/notosans-light-webfont.woff2') format('woff2'),
         url('/fonts/trsfr/notosans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'noto_sans';
    src: url('/fonts/trsfr/notosans-lightitalic-webfont.woff2') format('woff2'),
         url('/fonts/trsfr/notosans-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'noto_sans';
    src: url('/fonts/trsfr/notosans-italic-webfont.woff2') format('woff2'),
         url('/fonts/trsfr/notosans-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'noto_sans';
    src: url('/fonts/trsfr/notosans-regular-webfont.woff2') format('woff2'),
         url('/fonts/trsfr/notosans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
html{height: 100%;
}
body {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    position: relative;
    font-family: 'noto_sans', Tahoma, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    background: #48535B;
    color: #fff;
    background: linear-gradient(213.87deg, #48535B -34.14%, #1F1F28 100.73%);
    background-attachment: fixed;
}
ol, ul{
    list-style:none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a, span{
    display: inline-block;
}
i{
    font-weight: 400;
    font-style: italic;
}
i b, 
b i{
    font-weight: 700;
    font-style: italic;
}
b{
    font-weight: 700;
}
.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
a, button{
    -webkit-transition: all 0.5s ease!important;
    -moz-transition: all 0.5s ease!important;
    -ms-transition: all 0.5s ease!important;
    -o-transition: all 0.5s ease!important;
    transition: all 0.5s ease!important;
    text-decoration: none;
}
button{
    -webkit-appearance: none;
}
::-webkit-input-placeholder {color:#000;}
::-moz-placeholder          {color:#000;}/* Firefox 19+ */
:-moz-placeholder           {color:#000;}/* Firefox 18- */
:-ms-input-placeholder      {color:#000;}
p{
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 25px;
}
h2{
    font-weight: 800;
    font-size: 60px;
    line-height: 82px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-bottom: 10px;
}
h3{
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}
.section_title{
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flex_top{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.flex_between{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}
.flex_end{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-chevron-left:before {
    content: "\e900";
}
.icon-chevron-right:before {
    content: "\e901";
}
.icon-facebook:before {
    content: "\ea90";
}
.icon-instagram:before {
    content: "\ea92";
}
.icon-phone:before {
    content: "\e942";
}
.wrapper{
    width: 1160px;
    margin: 0 auto;
    min-width: 1160px;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 31px;
    z-index: 10;
}
.logo{
    float: left;
    width: 160px;
}
.logo img{
    display: block;
    width: 100%;
}
.phone{
    float: right;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 8px 28px 0 0;
    position: relative;
}
.phone > a{
    background: rgba(31, 31, 40, 0.5);
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 41px;
    color: #fff;
    font-size: 17px;
    margin-left: 19px;
    vertical-align: middle;
}
.phone > a:hover,
.phone > a.active{
    background: rgba(31, 31, 40, 1);
    color: #FFBC00
}
.drop_phone{
    display: none;
    background: #1F1F28;
    padding: 30px 0 30px;
    position: absolute;
    right: 0px;
    top: 36px;
    text-align: center;
    z-index: 2;
}
.drop_phone.active{
    display: block;
}
.drop_phone a{
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #F9B619;
    font-weight: 700;
    margin-top: 10px;
}
.drop_phone a:first-child{
    margin-top: 0
}
.drop_phone a:hover{
    text-decoration: underline;
}
.menu{
    float: right;
    width: 60px;
    position: relative;
    margin: 0 0 0 40px;
}
.social{
    float: right;
    width: 100px;
    font-size: 0;
    margin-top: 8px;
}
.social li{
    display: inline-block;
    margin-left: 28px;
}
.social li:first-child{
    margin-left: 0;
}
.social li a{
    background: rgba(31, 31, 40, 0.5);
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 41px;
    color: #fff;
    font-size: 17px;
}
.social li a:hover{
    background: rgba(31, 31, 40, 1);
    color: #FFBC00
}
.hamburger{
    position: relative;
    z-index: 15;
}
.hamburger a{
    display: block;
    background: rgba(31, 31, 40, 0.8);
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    position: relative;
}
.hamburger a:hover{
    background: rgba(31, 31, 40, 1);
    color: #FFBC00
}
.hamburger a span{
    position: absolute;
    right: 17px;
    height: 3px;
    background: #fff;
    -webkit-transition: all 0.5s ease!important;
    -moz-transition: all 0.5s ease!important;
    -ms-transition: all 0.5s ease!important;
    -o-transition: all 0.5s ease!important;
    transition: all 0.5s ease!important;
}
.hamburger a span:nth-child(1n){
    width: 26px;
    top: 22px;
}
.hamburger a span:nth-child(2n){
    width: 16px;
    top: 30px;
}
.hamburger a span:nth-child(3n){
    width: 22px;
    top: 37px;
}
.hamburger a:hover span{
    background: #FFBC00;
    width: 26px;
}
.slider > *{
    outline: none;
}
.slider .slick-slide{
    min-height: 700px;
}
.slider .slick-slider{
    min-width: 1160px;
}
.img_slider{
    width: 100%;
}
.img_slider img{
    width: 100%;
    display: block;
}
.text_slider{
    position: absolute;
    width: 100%;
    z-index: 9;
    left: 0;
    top: 154px;
}
.city{
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    text-shadow:
			-1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
}
.date_show{
    font-weight: 800;
    font-size: 120px;
    line-height: 163px;
    color: #FFBC00;
    margin-top: -13px;
    text-shadow:
			-2px -2px 0 #000,
			2px -2px 0 #000,
			-2px 2px 0 #000,
			2px 2px 0 #000;
}
.sub_title{
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    margin-top: -20px;
    text-shadow:
			-1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
}
.sub_title span{
    display: block;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    margin-top: 10px;
}
.des_title{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-top: 12px;
    text-shadow:
			-1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
}
.des_title span{
    display: block;
    margin-top: 5px;
}
.info{
    width: 700px;
    margin-top: 73px;
}
.info_show{
    width: 490px;
}
.flyer{
    width: 180px;
}
.date_time{
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    margin-top: 10px;
    text-shadow:
			-1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
}
.date_time span{
    display: block;
    font-size: 25px;
    line-height: 34px;
    color: #FFBC00;
}
.place{
    width: 290px;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 10px;
}
.place span{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.flyer a{
    background: rgba(31, 31, 40, 0.8);
    display: inline-block;
    padding: 17px 20px;
    color: #939498;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    outline: none;
}
.flyer a:hover{
    background: rgba(31, 31, 40, 1);
    color: #FFBC00;
}
.slider .slick-arrow{
    display: inline-block;
    position: absolute;
    top: 610px;
    margin: 0 auto;
    right: 50%;
    margin-right: -580px;
    z-index: 100;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: rgba(31, 31, 40, 1);
    border: 0;
    color: #fff;
    font-size: 17px;
    outline: none;
    cursor: pointer;
    z-index: 2;
}
.slider .slick-arrow:hover{
    color: #FFBC00;
}
.slider .slick-next{
    margin-right: -580px;
}
.slider .slick-prev{
    margin-right: -550px;
}
.slider .slick-arrow.slick-disabled{
    cursor: default;
    color: #fff;
    background: rgba(31, 31, 40, 0.5);
}
.about_us{
    margin-top: 111px;
}
.item{
    width: 660px;
}
.item:nth-child(2n){
    width: 460px;
}
.video_block{
    text-align: center;
}
.video_block iframe{
    width: 960px;
    height: 540px;
    margin: 35px auto 0;
}
.video{
    margin-top: 90px;
}
.photo .slick-slide a{
    margin: 0 20px;
}
.photo .slick-slide a{
    outline: none;
}
.photo .wrapper{
    position: relative;
}
.photo_gallery img{
    display: block;
    width: 100%;
}
.photo .slick-arrow{
    display: inline-block;
    position: absolute;
    bottom: -65px;
    margin: 0 auto;
    right: 0;
    z-index: 100;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: rgba(31, 31, 40, 1);
    border: 0;
    color: #fff;
    font-size: 17px;
    outline: none;
    cursor: pointer;
}
.photo .slick-arrow:hover{
    color: #FFBC00;
}
.photo .slick-next{
    right: 0;
}
.photo .slick-prev{
    right: 30px;
}
.photo .slick-arrow.slick-disabled{
    cursor: default;
    color: #fff;
    background: rgba(31, 31, 40, 0.5);
}
.photo{
    margin-top: 90px;
}
.gallery{
    margin-top: 35px;
}
.gallery .wrapper{
    padding-bottom: 65px;
}
.location{
    margin-top: 50px;
}
.left_loc{
    float: left;
    width: 465px;
}
.address_loacation{
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 25px;
}
.address_loacation span{
    display: block;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    margin: 10px 0;
    font-weight: 700;
}
.phone_loc{
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 25px;
}
.phone_loc > div{
    margin-top: 10px;
}
.phone_loc a {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #F9B619;
    margin-left: 21px;
    padding-bottom: 2px;
    position: relative;
}
.phone_loc a:first-child{
    margin-left: 0
}
.map{
    float: right;
    width: 660px;
    margin-top: 5px;
}
#map {
    height: 345px;
}
.contact{
    margin-top: 90px;
}
.social_cont{
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 6px;
}
.social_cont ul{
    display: inline-block;
}
.social_cont ul li{
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    vertical-align: 0;
}
.social_cont li a{
    background: rgba(31, 31, 40, 0.5);
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 41px;
    color: #fff;
    font-size: 17px;
    margin-right: 0;
    vertical-align: -3px;
}
.social_cont li a:hover{
    background: rgba(31, 31, 40, 1);
    color: #FFBC00
}
.phone_cont{
    float: right;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 10px;
}
.phone_cont a{
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #F9B619;
    padding-bottom: 2px;
    position: relative;
    padding-left: 15px;
}
.phone_cont a:after{
    content: '';
    background: #fff;
    width: 2px;
    height: 17px;
    position: absolute;
    left: 5px;
    top: 2px;
}
.phone_cont a:first-child:after{
    display: none;
}
.phone_cont a:first-child{
    padding-left: 10px;
}
.phone_cont a:before{
    content: '';
    width: 0;
    height: 2px;
    background: #F9B619;
    left: 0;
    position: absolute;
    bottom: 0;
    -webkit-transition: all 0.5s ease!important;
    -moz-transition: all 0.5s ease!important;
    -ms-transition: all 0.5s ease!important;
    -o-transition: all 0.5s ease!important;
    transition: all 0.5s ease!important;
}
.phone_cont a:hover:before {
    width: 100%;
}
.main{
    padding-bottom: 112px;
    min-height: 500px;
}
footer{
    height: 20px;
    padding: 60px 0 32px;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
.dev a{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFBC00;
}
.dev a:hover{
    text-decoration: underline;
}
.drop_menu{
    display: none;
    background: #1F1F28;
    padding: 60px 0 42px 42px;
    width: 200px;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 10;
}
.open .drop_menu{
    display: block;
}
.drop_menu ul{
    margin-top: 35px;
}
.drop_menu ul:first-child{
    margin-top: 0;
}
.drop_menu ul li a{
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.drop_menu ul li a:hover{
    color: #FFBC00;
}
.drop_menu ul li{
    margin-top: 10px;
}
.drop_menu ul li:first-child{
    margin-top: 0;
}
.open .hamburger span{
    width: 26px!important;
}
.open .hamburger span:nth-child(1) {
    top: 28px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.open .hamburger span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
.open .hamburger span:nth-child(3) {
    top: 28px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.poster{
    width: 760px;
    margin: 0 auto;
    position: relative;
}
.poster img{
    display: block;
    width: 100%;
}
header.intern{
    position: static;
    margin-bottom: 30px;
}
.back_button{
    position: absolute;
    bottom: 0;
    left: -200px;
    width: 200px;
}
.back_button a{
    background: rgba(31, 31, 40, 0.8);
    display: inline-block;
    padding: 17px 20px;
    color: #939498;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    outline: none;
}
.back_button a:hover{
    background: rgba(31, 31, 40, 1);
    color: #FFBC00;
}
.back_button a span{
    font-size: 22px;
    vertical-align: -4px;
}
.more_button{
    margin-top: 30px;
}
.more_button a{
    font-size: 16px;
    line-height: 22px;
    text-decoration: underline;
    color: #FFBC00;
}
.more_button a:hover{
    text-decoration: none;
}
.about{
    width: 760px;
    margin: 0 auto;
    position: relative;
}
h1{
    font-size: 72px;
    line-height: 98px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-bottom: 30px;
}
h4{
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 30px;
}
h5{
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 30px;
}
.rb{
    float: left;
    width: 560px;
    position: relative;
    opacity: 0.5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.rb:hover{
    opacity: 1;
}
.rb a{
    display: block;
}
.rb img{
    display: block;
    width: 100%;
}
.name_robots{
    font-size: 75px;
    line-height: 102px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    font-weight: 700;
}
.img_robots{
    float: left;
    width: 560px;
}
.text_robots ul{
    margin-bottom: 30px;
}
.text_robots ul li{
    font-size: 15px;
    line-height: 25px;
}
.wrapp_rob img{
    display: block;
    width: 100%;
}
.text_robots h4{
    font-size: 25px;
    line-height: 35px;
}
.text_robots p{
    font-size: 15px;
    line-height: 25px;
}
.back_button.static{
    position: static;
    margin-top: 30px;
}
.item img{
    display: block;
    width: 100%;
}
.phone_drop,
.social_drop{
    display: none;
}
.top{
    display:none;
    transform: rotate(90deg);
    position: fixed;
    right: 30px;
    bottom: 70px;    
    text-align: center;
    z-index: 5;
}
.top a{
    display: block;
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 53px;
    background: rgba(31, 31, 40, 0.8);
    color: #fff;
}
.top a:hover{
    background: rgba(31, 31, 40, 1);
    color: #FFBC00;
}
.mh{
    display: none!important;
}
@media only screen and (max-width: 1100px){
    .wrapper{
        width: 980px;
        min-width: 980px;
    }
    .slider .slick-slider {
        min-width: 980px;
    }
    .slider .slick-prev {
        margin-right: -460px;
    }
    .slider .slick-next {
        margin-right: -490px;
    }
    .logo{
        width: 145px;
    }
    .text_slider{
        top: 120px;
    }
    .city {
        font-size: 30px;
        line-height: 45px;
    }
    .date_show {
        font-size: 100px;
        line-height: 143px;
    }
    .sub_title {
        font-size: 38px;
        line-height: 45px;
    }
    .des_title {
        font-size: 18px;
        line-height: 25px;
    }
    .info{
        margin-top: 43px;
    }
    .date_time{
        font-size: 20px;
        width: 160px;
    }
    .date_time span{
        font-size: 22px;
    }
    .place{
        font-size: 13px;
    }
    .place span{
        font-size: 16px;
    }
    .slider .slick-arrow{
        top: 475px;
    }
    .slider .slick-slide {
        min-height: 610px;
    }
    .about_us {
        margin-top: 80px;
    }
    h2{
        font-size: 45px;
        line-height: 57px;
    }
    p {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 20px;
    }
    .item {
        width: 560px;
    }
    .item:nth-child(2n) {
        width: 400px;
    }
    .more_button a {
        font-size: 14px;
        line-height: 18px;
    }
    .video_block iframe{
        width: 760px;
        height: 420px;
    }
    .gallery {
        margin-top: 15px;
    }
    h3{
        font-size: 35px;
        line-height: 45px;
    }
    .address_loacation {
        font-size: 15px;
        line-height: 18px;
        margin-top: 25px;
    }
    .address_loacation span {
        font-size: 22px;
        line-height: 25px;
    }
    .phone_loc a {
        font-size: 17px;
        line-height: 20px;
        margin-left: 15px;
    }
    .phone_loc{
        margin-top: 25px;
    }
    .left_loc{
        width: 420px;
    }
    #map {
        height: 300px;
    }
    .map {
        width: 560px;
    }
    .contact {
        margin-top: 60px;
    }
    .img_robots {
        width: 400px;
    }
    h1 {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 10px;
    }
    .text_robots h4 {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 20px;
    }
    .text_robots p {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    h5 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .text_robots ul {
        margin-bottom: 20px;
    }
    .text_robots ul li {
        font-size: 13px;
        line-height: 20px;
    }
    .about{
        width: 900px;
        margin-top: 20px;
    }
    .text_robots h1{
        font-size: 60px;
        line-height: 70px;
    }
    .about p{
        font-size: 13px;
        line-height: 20px;
    }
    .about h4 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .back_button{
        position: static;
    }
    .poster{
        margin: 30px auto 0;
    }
    .poster .back_button{
        margin-top: 20px;
    }
    .rb{
        width: 480px;
    }
    .name_robots {
        font-size: 55px;
        line-height: 65px;
    }
    .phone_cont a{
        font-size: 16px;
    }
}
@media only screen and (max-width: 780px){
    .wrapper{
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        min-width: 0;
    }
    .slider .slick-slider {
        min-width: 100%;
    }
    .slider .slick-arrow{
        right: 0;
    }
    .slider .slick-next {
        margin-right: 20px;
    }
    .slider .slick-prev {
        margin-right: 50px;
    }
    .logo {
        width: 110px;
    }
    .phone{
        margin: 5px 30px 0 0;
    }
    header{
        padding-top: 15px;
    }
    .social{
        margin-top: 5px;
    }
    .menu{
        width: 45px;
    }
    .hamburger a{
        width: 45px;
        height: 45px;
    }
    .hamburger a span{
        right: 8px;
    }
    .hamburger a span:nth-child(1n) {
        width: 26px;
        top: 13px;
    }
    .hamburger a span:nth-child(2n) {
        width: 16px;
        top: 21px;
    }
    .hamburger a span:nth-child(3n) {
        width: 22px;
        top: 30px;
    }
    .drop_menu{
        right: -6px;
    }
    .city {
        font-size: 20px;
        line-height: 35px;
    }
    .date_show {
        font-size: 70px;
        line-height: 120px;
    }
    .sub_title {
        font-size: 28px;
        line-height: 35px;
    }
    .des_title {
        font-size: 15px;
        line-height: 20px;
    }
    .text_slider {
        top: 80px;
    }
    .info {
        margin-top: 20px;
    }
    .date_time{
        font-size: 18px;
    }
    .date_time span {
        font-size: 20px;
    }
    .place {
        font-size: 12px;
    }
    .place span {
        font-size: 14px;
    }
    .info{
        width: 100%;
    }
    .flyer {
        width: auto;
    }
    .slider .slick-arrow{
        top: auto;
        bottom: -50px;
    }
    .item{
        width: 100%!important;
    }
    .item:nth-child(2n){
        margin-top: 30px;
    }
    .video {
        margin-top: 45px;
    }
    .video_block iframe {
        width: 100%;
        height: 400px;
        margin: 15px auto 0;
    }
    .left_loc{
        width: 100%;
    }
    .map{
        width: 100%;
        margin-top: 20px;
    }
    h2 {
        font-size: 30px;
        line-height: 45px;
    }
    h2 br{
        display: none;
    }
    .gallery .wrapper {
        padding-bottom: 20px;
    }
    .location {
        margin-top: 30px;
    }
    .mh{
        display: inline-block!important;
    }
    h3 {
        font-size: 30px;
        line-height: 45px;
    }
    .social_cont li a{
        margin-right: 0
    }
    .social_cont ul li{
        margin-left: 5px;
    }
    .phone_cont{
        float: none;
        display: block;
        width: 100%;
    }
    .photo {
        margin-top: 50px;
    }
    .about{
        width: 100%
    }
    .img_robots {
        width: 350px;
    }
    .text_robots h1 {
        font-size: 50px;
        line-height: 60px;
    }
    .text_robots h4 {
        font-size: 18px;
        line-height: 30px;
    }
    h5 {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .poster{
        width: 100%;
    }
    .rb {
        width: 100%;
        float: none;
    }
    .slider .slick-slide {
        min-height: 500px;
    }
}
@media only screen and (max-width: 420px){
    .wrapper{
        padding: 0 22px;
    }
    .social,
    .phone{
        display: none;
    }
    .text_slider{
        position: static;
        margin-top: -100px;
    }
    .city{
        font-size: 24px;
        line-height: 33px;
    }
    .date_show{
        font-size: 39px;
        line-height: 70px;
        margin: 0px 0 20px;
    }
    .sub_title{
        font-size: 28px;
        line-height: 38px;
    }
    .des_title{
        font-size: 14px;
        line-height: 19px;
        margin-top: 6px;
    }
    .date_time{
        width: 100%;
        font-size: 20px;
    }
    .date_time span{
        display: inline-block;
        margin-left: 0;
    }
    .place{
        margin: 13px 0 0 0;
    }
    .place span{
        margin-top: 9px;
    }
    .info{
        display: block;
    }
    .flyer{
        margin-top: 25px;
    }
    .slider .slick-arrow{
        bottom: 0
    }
    .about_us {
        margin-top: 30px;
    }
    .section_title{
        font-size: 12px;
        line-height: 16px;
    }
    h2{
        font-size: 34px;
        line-height: 46px;
        margin-bottom: 20px;
    }
    p{
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 15px;
    }
    .more_button {
        margin-top: 15px;
    }
    .more_button a{
        font-size: 12px;
        line-height: 16px;
    }
    .item:nth-child(2n) {
        margin-top: 25px;
    }
    .video {
        margin-top: 43px;
    }
    .video_block iframe{
        height: 200px;
    }
    .photo {
        margin-top: 43px;
    }
    .location {
        margin-top: 20px;
    }
    h3 {
        font-size: 30px;
        line-height: 41px;
    }
    .address_loacation{
        margin-top: 20px;
        font-size: 14px;
        line-height: 19px;
    }
    .address_loacation span{
        font-size: 18px;
        line-height: 25px;
    }
    .phone_loc {
        font-size: 12px;
        line-height: 19px;
        margin-top: 10px;
    }
    .phone_loc a{
        font-size: 24px;
    }
    #map {
        height: 165px;
    }
    .contact {
        margin-top: 35px;
    }
    .contact .wrapper{
        display: block;
    }
    .phone_cont{
        float: none;
        margin: 20px 0;
        font-size: 12px;
    }
    .phone_cont a{
        font-size: 24px;
        line-height: 33px;
    }
    .social_cont {
        font-size: 12px;
        margin-top: 0;
    }
    .mh {
        display: inline-block;
        font-size: 10px;
    }
    .main {
        padding-bottom: 112px;
    }
    footer{
        height: auto;
        padding: 30px 0 32px;
    }
    footer .wrapper{
        display: block;
        text-align: center;
    }
    footer .wrapper div{
        margin-top: 15px;
    }
    h1 {
        font-size: 32px;
        line-height: 44px;
    }
    .about{
        margin-top: 0px;
    }
    .about h4 {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 10px;
    }
    .img_robots {
        width: 100%;
    }
    .text_robots h1 {
        font-size: 45px;
        line-height: 65px;
        text-align: center;
        margin-bottom: 0;
    }
    .text_robots .section_title{
        display: none;
    }
    .text_robots h4 {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .name_robots {
        font-size: 45px;
        line-height: 55px;
    }
    .open .hamburger span:nth-child(1),
    .open .hamburger span:nth-child(3){
        top: 21px;
    }
    .drop_menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: linear-gradient(209.77deg, #48535B -34.14%, #1F1F28 100.73%);
        padding: 110px 0 0 0;
        right: 0;
        left: 0;
        text-align: center;
    }
    body.open{
        overflow: hidden;
    }
    .menu{
        position: static;
    }
    .open .hamburger a:hover{
        background: none;
    }
    .open header{
        position: fixed;
    }
    .logo{
        position: relative;
        z-index: 20;
    }
    .drop_menu ul li a{
        font-size: 20px;
        line-height: 27px;
    }
    .drop_menu ul {
        margin-top: 30px;
    }
    .phone_drop, .social_drop{
        display: block;
    }
    .phone_drop{
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 36px;
    }
    .phone_drop a{
        display: block;
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        text-align: center;
        color: #F9B619;
        margin-top: 12px;
    }
    .social_drop{
        margin-top: 46px;
    }
    .social_drop li{
        display: inline-block;
        margin-left: 28px;
    }
    .social_drop li:first-child{
        margin-left: 0;
    }
    .social_drop li a{
        background: rgba(31, 31, 40, 0.5);
        width: 36px;
        height: 36px;
        text-align: center;
        line-height: 41px!important;
        color: #fff!important;
        font-size: 17px!important;
    }
    .social_drop li a:hover{
        background: rgba(31, 31, 40, 1);
        color: #FFBC00
    }
    .slider .slick-arrow{
        background: none!important;
    }
    .sub_title span{
        font-size: 18px;
    }
    .dd{
        display: none;
    }
    .phone{
        display: block;
        float: right;
        margin: 0;
    }
    .menu{
        margin: 0 0 0 10px;
    }
    .phone > a{
        background: rgba(31, 31, 40, 0.8);
        width: 45px;
        height: 45px;
        line-height: 49px;
        font-size: 20px;
    }
    .drop_phone{
        top: 45px;
        width: 200px;
    }
    .phone_loc a{
        font-size: 15px;
        margin-left: 10px;
    }
    .phone_loc > div{
        text-align: center;
    }
    .phone_cont a {
        font-size: 18px;
        line-height: 30px;
        display: block;
        padding: 0!important;
    }
    .phone_cont a:after{
        display: none;
    }






}



